<div class="container">
  <form  >
    <div class="ui-g">

      <div class="ui-g-12" style="margin-top:50px;">
        <h1>Cadastro-Lançamentos</h1>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar name="venc" [locale]="pt_br" hourFormat="24" [utc]="true" required dateFormat="dd/mm/yy">
        </p-calendar>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Recebimento</label>
        <p-calendar name="pag" [locale]="pt_br" hourFormat="24" [utc]="true" required dateFormat="dd/mm/yy">
        </p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input type="text" pInputText name="desc" required>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input type="text" pInputText name="val" required placeholder="0,00">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <input type="text" pInputText name="cat" required>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <input type="textarea" pInputText name="pes" required>
      </div>

      <div class="ui-g-12 ui-fluid">
          <label>Observação</label>
          <textarea pInputTextarea name="obs" required rows="3" ></textarea>
        </div>

        <div class="ui-g-12" >
              <button pButton type="submit" label="Salvar" ></button>
              <button pButton type="button" label="Novo" class="ui-button-info" ></button>
              <a href="javascript:;">Voltar para a pesquisa</a>
        </div>
    </div>
  </form>
</div>