<div class="pos-f-t" >
  <div class="collapse" id="navbarToggleExternalContent" >
    <div class="bg-dark p-4">
      <h4 class="text-white">Algamoney</h4>
      <span class="text-muted"><a href="#" routerLink="pessoas" >Pessoas |</a></span>
      <span class="text-muted"><a href="#" routerLink="/" >Lançamentos |</a></span>
      <span class="text-muted"><a href="#" routerLink="cadastro-lancamnetos" >Cadastrar-Lançamentos |</a></span>
      <span class="text-muted"><a href="#" routerLink="sobre" >Sobre</a></span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button"
     data-toggle="collapse" data-target="#navbarToggleExternalContent"
     aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
