<div class="ui-g">

  <div class="ui-g-12" style="margin-top:50px;">
    <h1>Lancamentos</h1>
  </div>

  <div *ngIf="f.invalid && f.dirty " class="alert alert-danger" >
      Preencha todos os campos corretamente.
    </div>

  <form #f="ngForm" (ngSubmit)="pesquisar(f)" >
  <div class="ui-g-12 ui-fluid">
    <label for="idDescricao" >Descrição</label>
      <input id="idDescricao" type="text"  pInputText 
      [(ngModel)]="lancamento.descricao" name="descricao" required minlength="5" #desc="ngModel" >
  </div>

  <div class="ui-g-12 ui-sm-3">

    <label style="display: block;" for="venc">Vencimento</label>
     <p-calendar name="venc"  [(ngModel)]="lancamento.dataVencimento"
      hourFormat="24" [utc]="true" required dateFormat="dd/mm/yy" [locale]="pt_br" >
     </p-calendar>
      
    <label>Até
       <p-calendar [(ngModel)]="lancamento.dataPagamento" name="pagamento"
        hourFormat="24" [utc]="true" required dateFormat="dd/mm/yy" [locale]="pt_br" >
     </p-calendar>

    </label>
  </div>

  <div class="ui-g-12">
    <button [disabled]="!f.valid" pButton type="submit" label="Pesquisar"></button>
  </div>
</form>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataTable [value]="lancamentos" [rows]="10" [paginator]="true" 
      [rowsPerPageOptions]="[5,10,20,30]" emptyMessage="Nada para mostrar." [responsive]="true" >
        <p-column field="pessoa" header="Pessoa"></p-column>
        <p-column field="descricao" header="Descrição"></p-column>

        <p-column field="dataVencimento" header="Vencimento" styleClass="col-data">
          <ng-template let-dataVenc="rowData" pTemplate="body">
            <span>
              {{dataVenc.dataVencimento | date:'dd/MM/yyyy'}}
            </span>
          </ng-template>
        </p-column>

        <p-column field="dataPagamento" header="Pagamento" styleClass="col-data">
          <ng-template let-dataPag="rowData" pTemplate="body">
            <span>
              {{dataPag.dataPagamento | date:'dd/MM/yyyy'}}
            </span>
          </ng-template>
        </p-column>

        <p-column field="valor" header="Valor" styleClass="col-valor">
          <ng-template let-lanc="rowData" pTemplate="body">
            <span [ngStyle]="{color: lanc.tipo === 'RECEITA' ? 'blue' : 'red'}">
              {{lanc.valor | currency:'BRL':'symbol':'1.2-2'}}</span>
          </ng-template>
        </p-column>

        <p-column styleClass="col-acoes" header="Ações" >
          <ng-template pTemplate="body">
            <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top" ></a>
            <a pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top" ></a>
          </ng-template>
        </p-column>

      </p-dataTable>
    </div>
    <div class="ui-g-12">
      <a href="javascript:;" pButton label="Novo Lançamento"></a>
    </div>
  </div>

</div>