
@media (min-width: 1200px){
    .container{
        width: 1170px;
        margin: 0 auto;
    
    }

}

#divValor{
    margin-right: 0px;
}
.col-valor{
    width: 120px;
    text-align: right;
}

.col-data{
    width: 120px;
    text-align: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #404c51;
}

label{
    font-weight: bold;
}

.col-acoes{
    width: 90px;
    text-align: center;
}

.pos-f-t{
    z-index: 9998;
    position: fixed;
    width: 100%;
    
}

.text-muted a {
    color: #c0bbb7;
    font-size: 20px;
}

.text-muted a:hover {
    color: white;
}

